<#assign navArea = "">
<#include "includes/base.ftl">
<#macro page_head>
  <title>Home</title>
</#macro>

<#macro main_content>
  <h1>Welcome Red Elf!</h1>

  <a href="home" class="btn btn-primary">Login</a>
</#macro>

<@display_page/>